<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300;400&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body> 
    
    <header>

        <div class="logo-barra-comprar">

            <div class="logo-search">
                
                
                <img class="logo" src="images/logo-mercado-liebre.svg" alt="Logo de la página">
                
                
                <form action="" get="/">

                    <div class="contenedor-barra">
                   
                        <input class="buscar" type="search" name="searchbar" placeholder="Buscar productos, marcas">
                        
                        <div class="contenedor-lupa">
                            <i class="fa-solid fa-magnifying-glass lupa"></i>
                        </div>

                    </div>

                </form>
                
            </div>

                <p class="comprar-header"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>

        </div>
    
        <nav>
            
            <div class="botones-nav-login">

                <div class="botones-nav">

                    <ul>
                        <li><a href="/ofertas" class="botones-header">Ofertas</a></li>
                        <li><a href="/tiendas-oficiales" class="botones-header">Tiendas Oficiales</a></li>
                        <li><a href="/vender" class="botones-header">Vender</a></li>
                        <li><a href="/ayuda" class="botones-header">Ayuda</a></li>
                    </ul>

                </div>

                <div class="botones-login">   

                    <ul>
                        <li><a href="/registro" class="botones-header">Creá tu cuenta<i class="fa-solid fa-id-card icono-header"></i></a></li>
                        <li><a href="/ingreso" class="botones-header">Ingresá<i class="fa-solid fa-right-to-bracket icono-header"></i></a></li>
                        <li><a href="/mis-compras" class="botones-header">Mis compras<i class="fa-solid fa-basket-shopping icono-header"></i></a></li>
                    </ul>

                </div> 

            </div>

            <div class="burger-menu">
                <i class="icono-burger fas fa-bars"></i>
            </div>

        </nav>

    </header>

    <main>

        <form action="/" method="get">

            <div class="contenedor-formulario">
                <div class="formulario">

                    <div class="bienvenido">
                        <h1>Bienvenido a Mercado Liebre</h1>
                    </div>

                    <div class="display-campos">

                        <div class="campos-texto">
                            <input type="text" name="username" placeholder="Nombre de usuario" class="campo">
                        </div>

                        <div class="campos-texto">
                            <input type="password" name="password" placeholder="Contraseña" class="campo">
                        </div>

                    </div>

                    <div class="submit">

                        <div class="animacion-submit">
                            <input type="submit" name="enviar" value="Enviar" class="boton-submit">
                        </div>
                        
                    </div>

                </div>
            </div>

        </form>

    </main>

    <footer>
        
        <div class="footer">

            <div class="flex-footer">

                <div class="paga-tarjeta">

                    <div class="icono-footer">
                        <i class="fa-solid fa-credit-card"></i>
                    </div>
                    
                    <h4 class="titulares">Pagá con tarjeta o en efectivo</h4>
                    
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>

                </div>

                <div class="envio-gratis">

                    <div class="icono-footer">
                        <i class="fa-solid fa-gift"></i>
                    </div>
                    
                    <h4 class="titulares">Envío gratis desde $2500</h4>
                    
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>

                </div>
                
                <div class="seguridad">

                    <div class="icono-footer">
                        <i class="fa-sharp fa-solid fa-user-shield"></i>
                    </div>
                    
                    <h4 class="titulares">Seguridad, de principio a fin</h4>
                    
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>

                </div>

            </div>
        
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.<p>

        </div>

    </footer>
    
</body>

</html>